<!DOCTYPE html>
<html lang="en">

    <%- include('partial/head.ejs') %>
    
<body>
    <div class="center error-container">
        <h1> <%- title %> </h1>

        <br>

        <img src="/sad-emoji.png" alt="sad emoji">

        <br><br>

        <a href="/">Home</a>
    </div>

</body>
</html>